[submodule "wolves-and-rabbits-world-simulation"]
	path = wolves-and-rabbits-world-simulation
	url = https://github.com/afronski/wolves-and-rabbits-world-simulation
[submodule "erlang/wolves-and-rabbits-world-simulation"]
	path = erlang/wolves-and-rabbits-world-simulation
	url = https://github.com/afronski/wolves-and-rabbits-world-simulation
